.sir-room-btn {
    min-height: 20vh;
    background-color: rgb(244, 67, 54);
}

.sir-room-btn.active {
    background-color: rgba(76, 175, 80);
}

.sir-room-admin-btn {
    min-height: 10vh;
    background-color: rgb(244, 67, 54);
    font-size: 2em;
    color:white;
}