.si-heading {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Jost', sans-serif;
}

.si-navbar-item div {
  cursor: pointer;
}

.card-icon {
  margin-left: 10px;
}

.card-connect {
  color: rgb(54, 54, 54);
}

.card-connect:hover {
  cursor: pointer;
  background-color: rgba(244, 67, 54, 0.5803921568627451);
}

.si-user {
  font-size: 3em;
}

.si-avatar-quazi {
  height: 64px;
  padding: 8px;
}

.si-player-score-control {
  color: white;
  font-size: 1.2em;
}

.si-player-score-control.plus {
  background-color: #3eafa7;
}

.si-player-score-control.plus:hover,
.si-player-score-control.minus:hover {
  cursor: pointer;
}

.si-player-score-control.minus {
  background-color: #cc3a31;
}

.si-player-name{
  padding-top:16px
}
